<div class="login-container">
  <div class="login-card">
    <img
      src="../../../assets/ifrs.svg"
      alt="Logo Colabora IF"
      class="login-logo"
    />
    <h1 class="login-title">Colabora IF</h1>

    <div class="login-bottom">
      <div
        id="g_id_onload"
        data-client_id="189141512089-jq89njth6sr21ujno31c3eom0u0ejb8a.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="loginGoogle"
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
        data-width="250"
      ></div>
    </div>
    
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
