<div class="login-container">
  <div class="login-card">
    <img
      src="../../../assets/ifrs.svg"
      alt="Logo ColaboraIF"
      class="login-logo"
    />
    <h1 class="login-title">ColaboraIF</h1>

    <div class="login-bottom">
      <div
        id="g_id_onload"
        data-client_id="189141512089-jq89njth6sr21ujno31c3eom0u0ejb8a.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="loginGoogle"
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
        data-width="250"
      ></div>
    </div>

    <form class="login-form" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Digite seu usuário" formControlName="username"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Digite sua senha" formControlName="password" type="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" (click)="loginWithCredentials()" [disabled]="loginForm.invalid">Entrar</button>
    </form>
    
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
