<div>
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Pesquisar</mat-label>
      <input
        matInput
        placeholder="Digite sua pesquisa"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchInputChange()" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button
      class="search-button custom-button-color"
      mat-raised-button
      (click)="goToQuestionForm()"
    >
      Inserir Pergunta
    </button>
  </div>
  <div class="question-list">
    <mat-card
      *ngFor="let question of questions"
      class="question-card clickable-card" 
      (click)="viewQuestionDetails(question.id)"
    >
      <mat-card-header>
        <mat-card-title [appLineClamp]="1">{{ question.title }}</mat-card-title>
        <mat-card-subtitle
          >Categoria: {{ question.category }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <div class="question-content">
          <p [appLineClamp]="1">{{ question.content }}</p>
          <p [appLineClamp]="1"><strong>Tópico:</strong> {{ question.topic }}</p>
          <p><strong>Usuário:</strong> {{ question.username }}</p>
        </div>
        <div class="question-info">
          <p><strong>Respostas:</strong> {{ question.answers.length || 0 }}</p>
          <p>
            <strong>Solucionado:</strong>
            {{ hasCorrectAnswer(question) ? "Sim" : "Não" }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
