/* Estilo para o contêiner que centraliza o formulário */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo para o cartão do formulário */
.question-form {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ajusta para ocupar toda a largura disponível */
  width: 100%;
  max-width: 600px; /* Largura máxima do formulário */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.title{
  align-self: center;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilo para campos de formulário */
.mat-form-field {
  width: 100%; /* Faz o campo ocupar toda a largura do contêiner */
  margin-bottom: 16px; /* Espaço entre campos */
}

/* Estilo para os botões */
.botoes {
  display: flex;
  justify-content: space-between; /* Distribui os botões igualmente */
  margin-top: 20px; /* Espaçamento superior */
}

.botoes button {
  width: 48%; /* Cada botão ocupa 48% da largura disponível */
}

/* Estilo para telas menores */
@media (max-width: 768px) {
  .wrapper {
    padding: 0 10px; /* Reduz o espaçamento lateral em telas menores */
  }

  .question-form {
    padding: 15px;
    width: 100%;
    max-width: 100%; /* Faz o formulário ocupar toda a largura disponível */
  }

  .botoes {
    flex-direction: column; /* Alinha os botões em pilha */
    align-items: center; /* Centraliza os botões */
  }

  .botoes button {
    width: 100%; /* Botões ocupam toda a largura em telas menores */
    margin-bottom: 10px; /* Espaço entre os botões */
  }

  /* Ajusta o tamanho da fonte dos campos e labels para telas menores */
  .mat-form-field .mat-label,
  .mat-form-field input,
  .mat-form-field textarea {
    font-size: 14px; /* Diminui o tamanho da fonte */
  }

  .question-form h1 {
    font-size: 20px; /* Diminui o tamanho do título */
    text-align: center; /* Centraliza o título */
  }
}