<div class="wrapper">
  <mat-card class="question-form">
    <h1 class="title">Faça Sua Pergunta</h1>

    <form class="items" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Digite o título da sua pergunta"
          (input)="onTitleInput($event)"
        />
        <mat-error *ngIf="questionForm.get('title')?.hasError('required')">
          Este campo é obrigatório.
        </mat-error>
        <mat-error *ngIf="questionForm.get('title')?.hasError('minlength')">
          O título deve ter pelo menos 5 caracteres
        </mat-error>
        <mat-error *ngIf="questionForm.get('title')?.hasError('maxlength')">
          O título deve ter no máximo 100 caracteres
        </mat-error>
      </mat-form-field>

  
      <div *ngIf="suggestedQuestions.length > 0" class="suggestions">
        <h4>Perguntas parecidas encontradas:</h4>
        <div class="suggestions-buttons">
          <button
            *ngFor="let question of suggestedQuestions"
            mat-raised-button
            class="suggestions-button"
            (click)="viewQuestionDetails(question.id)"
          >
            <p [appLineClamp]="2">{{ question.title }}</p>
          </button>
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="questionForm.get('category')?.hasError('required')">
          Este campo é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tópico</mat-label>
        <input
          matInput
          formControlName="topic"
          placeholder="Digite o tópico relacionado"
          (input)="onTopicInput($event)"
        />
        <mat-error *ngIf="questionForm.get('topic')?.hasError('required')">
          Este campo é obrigatório.
        </mat-error>
        <mat-error *ngIf="questionForm.get('topic')?.hasError('maxlength')">
          O tópico deve ter no máximo 30 caracteres
        </mat-error>
      </mat-form-field>

      <div
        *ngIf="filteredTopics && filteredTopics.length > 0"
        class="suggestions"
      >
        <h4>Sugestão de tópicos:</h4>
        <div class="suggestions-buttons">
          <button
            *ngFor="let topic of filteredTopics"
            mat-raised-button
            class="suggestions-button"
            (click)="selectTopic(topic)"
          >
            {{ topic }}
          </button>
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea
          class="description"
          matInput
          formControlName="description"
          placeholder="Digite a descrição relacionada"
        ></textarea>
        <mat-error
          *ngIf="questionForm.get('description')?.hasError('required')"
        >
          Este campo é obrigatório.
        </mat-error>
        <mat-error *ngIf="questionForm.get('description')?.hasError('minlength')">
          O conteúdo deve ter pelo menos 10 caracteres
        </mat-error>
        <mat-error *ngIf="questionForm.get('description')?.hasError('maxlength')">
          O conteúdo deve ter no máximo 1000 caracteres
        </mat-error>
        <button mat-button type="button" (click)="insertCodeSnippet()">
          Inserir Código
        </button>
      </mat-form-field>

      <div class="botoes">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="questionForm.invalid"
        >
          Enviar
        </button>
        <button mat-button color="primary" type="button" (click)="onCancel()">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card>
</div>
