<mat-drawer-container
  class="example-container"
  [hasBackdrop]="hasBackdrop"
  autosize
>
  <mat-drawer
    #drawer
    [mode]="mode"
    [ngStyle]="{
      'background-color': sidenavColor,
      'box-shadow': mode === 'over' ? '2px 0 5px rgba(0,0,0,0.5)' : 'none'
    }"
    class="drawer"
  >
    <div class="drawer-header">
      <img src="../assets/ifrs.svg" alt="Logo do App" class="app-logo" />
      <p class="app-name">ColaboraIF</p>
    </div>
    <hr class="divider" />
    <nav>
      <a mat-list-item routerLink="/" (click)="closeDrawer()">
        <mat-icon>list</mat-icon>
        Todas Perguntas
      </a>
      <a mat-list-item routerLink="/user/questions" (click)="closeDrawer()">
        <mat-icon>question_answer</mat-icon>
        Minhas Perguntas
      </a>
      <a
        mat-list-item
        routerLink="/user/questions-favorites"
        (click)="closeDrawer()"
      >
        <mat-icon>bookmark</mat-icon>
        Perguntas Favoritas
      </a>
      <a
        mat-list-item
        routerLink="/user/advanced-search"
        (click)="closeDrawer()"
      >
        <mat-icon>search</mat-icon>
        Pesquisa Avançada
      </a>
      <a mat-list-item routerLink="/user/notifications" (click)="closeDrawer()">
        <mat-icon>notification_important</mat-icon>
        Notificações
      </a>
    </nav>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar [ngStyle]="{ 'background-color': toolbarColor }">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <div class="right-side-menu">
        <button
          class="button-back"
          *ngIf="canGoBack"
          mat-icon-button
          (click)="goBack()"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="user-name hide-on-mobile">Olá João</span>
      </div>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
