<div *ngIf="questions.length > 0; else noQuestions" class="question-list">
  <mat-card *ngFor="let question of questions" class="question-card">
    <mat-card-header>
      <mat-card-title [appLineClamp]="1">{{ question.title }}</mat-card-title>
      <mat-card-subtitle>Categoria: {{ question.category }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="question-content">
        <p [appLineClamp]="1">{{ question.content }}</p>
        <p [appLineClamp]="1"><strong>Tópico:</strong> {{ question.topic }}</p>
        <p><strong>Usuário:</strong> {{ question.username }}</p>
      </div>
      <div class="question-info">
        <p><strong>Respostas:</strong> {{ question.answers.length || 0 }}</p>
        <p>
          <strong>Solucionado:</strong>
          {{ hasCorrectAnswer(question) ? "Sim" : "Não" }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions class="question-actions">
      <button mat-raised-button (click)="editQuestion(question.id)">
        Editar
      </button>
      <button mat-raised-button color="warn" (click)="confirmDelete(question)">
        Excluir
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #noQuestions>
  <div class="no-questions">
    <h2>Você ainda não criou nenhuma pergunta.</h2>
    <p>Que tal começar agora? Crie sua primeira pergunta e comece a compartilhar conhecimento!</p>
    <button mat-raised-button color="primary" (click)="createNewQuestion()">
      Criar nova pergunta
    </button>
  </div>
</ng-template>
