<div class="wrapper">
  <mat-card class="advanced-search-card">
    <h1 class="advanced-search-title">Pesquisa Avançada</h1>

    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <mat-form-field appearance="fill">
        <mat-label>Título ou Descrição</mat-label>
        <input
          matInput
          placeholder="Digite o que deseja buscar"
          formControlName="titleOrDescription"
        />
        <mat-error
          *ngIf="searchForm.get('titleOrDescription')?.hasError('required')"
        >
          Este campo é obrigatório.
        </mat-error>
        <mat-error
          *ngIf="searchForm.get('titleOrDescription')?.hasError('minlength')"
        >
          O campo precisa ter no mínimo 3 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tópico</mat-label>
        <input
          matInput
          placeholder="Digite um tópico que deseja buscar"
          formControlName="topic"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="searchForm.get('category')?.hasError('required')">
          Este campo é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Com Respostas</mat-label>
        <mat-select formControlName="hasAnswers">
          <mat-option value="">Todas</mat-option>
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Pergunta com solução</mat-label>
        <mat-select formControlName="isSolved">
          <mat-option value="">Todas</mat-option>
          <mat-option [value]="true">Sim</mat-option>
          <mat-option [value]="false">Não</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!isValid()"
        >
          Pesquisar
        </button>
      </div>
    </form>
  </mat-card>

  <div *ngIf="questions === null" class="search-status">
    <h3>Faça uma busca para ver os resultados.</h3>
  </div>
  
  <div *ngIf="questions && questions.length === 0" class="search-status">
    <h3>Nenhuma pergunta encontrada.</h3>
  </div>

  <div *ngIf="questions && questions.length > 0" class="question-list">
    <ng-container class="search-results">
      <mat-card
      *ngFor="let question of questions"
        class="question-card clickable-card"
        (click)="viewQuestionDetails(question.id)"
      >
        <mat-card-header>
          <mat-card-title [appLineClamp]="1">{{
            question.title
          }}</mat-card-title>
          <mat-card-subtitle
            >Categoria: {{ question.category }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <div class="question-content">
            <p [appLineClamp]="1">
              <strong>Tópico:</strong> {{ question.topic }}
            </p>
            <p><strong>Usuário:</strong> {{ question.username }}</p>
          </div>
          <div class="question-info">
            <p>
              <strong>Respostas:</strong> {{ question.answers.length || 0 }}
            </p>
            <p>
              <strong>Solucionado:</strong>
              {{ hasCorrectAnswer(question) ? "Sim" : "Não" }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div> 
</div>
